<div class="page-header page-header-small" filter-color="purple" style="height: 35vh;">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/img/melbourne.jfif');">
    </div>
    <div class="container">
        <div class="content-center" style="padding-top: 2cm;">
            <h1 class="title">SBFT 2023</h1>
            <div class="text-center">
                <h5>The 16th Intl. Workshop on Search-Based and Fuzz Testing</h5>
                <h5>14th of May 2023, Melbourne, Australia</h5>
                <a href="https://www.facebook.com/sbstws/" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://youtube.com/@sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>