<div class="col-md-4">
    <h6 class="text-primary">Submission site</h6>
    <p><a href=" https://easychair.org/my/conference?conf=sbft2023">EasyChair</a></p>
    <h4 class="subsection">Important Dates</h4>
    <p>Adhering to <a href="https://conf.researchr.org/track/icse-2023/icse-2023-workshops">ICSE&rsquo;23
            workshop dates</a> (<a href="https://www.timeanddate.com/time/zones/aoe">AOE</a>):</p>
    <p><a href="/SBFT23_Flyer.pdf" target="_blank">Printable Flyer</a></p>
    <p><a href="/SBFT23_CFP.pdf" target="_blank">Printable Call for Papers</a></p>
    <h6 class="text-primary">Paper Submission</h6>
    <p><del>January 13 2023</del></p>
    <p><b>January 20 2023</b></p>
    <h6 class="text-primary">Competition Report</h6>
    <p><del>January 13 2023</del></p>
    <p><b>January 20 2023</b></p>
    <h6 class="text-primary">Notification to Authors</h6>
    <p>February 21, 2023</p>
    <h6 class="text-primary">Camera Ready Due</h6>
    <p>March 17, 2023</p>
    <h6 class="text-primary">Author's Registration Due</h6>
    <p>TBA</p>
    <h5>Submission Guidelines</h5>
    <p class="text-justify">All submissions must conform to the <a
            href="https://conf.researchr.org/track/icse-2023/icse-2023-technical-track#About" target="_blank">ICSE&rsquo;23
            formatting and submission instructions</a>. <b>All submissions must be anonymized</b>, in PDF
        format and should be performed electronically through EasyChair.</p>
    <!-- <p><a href="#" target="_blank">TBA</a></p> -->
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/sbftworkshop" target="_blank">
        Tweets by sbftworkshop
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>